.login-page {
    #app {
        width: calc(100vw - 4rem);
        height: calc(100vh - 4rem);

        position: relative;

        transition: all 0.3s ease-in-out;

        margin: 2rem;

        display: flex;
        gap: 2rem;

        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .form-contents {
                background-color: var(--background-color-one);
                padding: 2rem;
                border-radius: 2rem;
                width: 75%;

                box-shadow: 0 0 4rem -3.5rem var(--primary-color-dark);

                h1 {
                    color: var(--text-color);
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 1.5rem;

                    .change-form {
                        cursor: pointer;
                        font-weight: normal;
                        color: var(--text-color-secondary);

                        text-decoration: underline;

                        font-size: 0.7rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }


            button {
                width: 50%;
                padding: 0.75rem 1rem;
                margin-top: 1rem;
                border-radius: 1rem;
                border: none;
                background-color: var(--primary-color);
                color: var(--text-color);
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary-color-dark);
                }
            }
        }

        .login-image {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            object-fit: cover;

            filter: blur(1px);

            z-index: 99;

            border-radius: 1rem 2rem 2rem 1rem;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: calc(100vw - 2rem);
            height: calc(100vh - 2rem);
            margin: 1rem;

            form {
                z-index: 100;
                height: 100%;

                box-shadow: 0 0 4rem -2.5rem var(--primary-color-dark);

                .form-contents {
                    width: 90%;
                }
            }

            // hide the register form
            .register-form {
                display: none;
                height: 0%;
            }

            .login-image {
                width: 100%;
                left: 0;
                top: 0rem;
                border-radius: 1rem;
            }
        }

        &.register-form {
            .login-image {
                left: 0;
                border-radius: 2rem 1rem 1rem 2rem;
            }

            @media screen and (max-width: 768px) {
                .login-form {
                    display: none;
                    height: 0%;
                }

                .register-form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: calc(100vw - 2rem);
                    height: calc(100vh - 2rem);
                    margin: 1rem;

                    .form-contents {
                        width: 90%;
                    }
                }

                .login-image {
                    left: 0;
                    border-radius: 1rem; 
                    top: 0rem;
                    filter: blur(2px);
                }
            }
        }
    }
}