body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  >div {
    width: 66%;
  }

  .login-image {
    width: 33%;
    align-self: stretch;
    background-image: url("login-light.jpg");
    background-size: cover;
    background-position: center;

    @media (prefers-color-scheme: dark) {
      background-image: url("login-dark.jpg");
    }
  }
}
