body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 1rem);
  padding: 2rem;

  gap: 2rem;

  .form-wrapper {
    width: 66%;
  
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      background-color: var(--surface-at-1);
      padding: 2rem;
      border-radius: 1rem;
      width: 50%;

      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

      background: color-mix(in srgb, var(--surface-at-1) 50%, transparent);
      backdrop-filter: blur(1rem);
    }
  }

  .login-image {
    width: 33%;
    align-self: stretch;
    background-image: url("login-light.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;

    @media (prefers-color-scheme: dark) {
      background-image: url("login-dark.jpg");
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    
    .form-wrapper {
      z-index: 1;
      width: 100%;
      
      .login-form {
        width: 100%;
      }
    }

    .login-image {
      position: absolute;
      height: calc(100% - 2rem);
      width: calc(100% - 2rem);
      inset: 1rem;
    }
  }
}
